html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', 'Sans Serif';
}

@media screen and (min-width: 1440px) and (min-height: 70px) {
    .earth-header img {
        width: 1440px !important;
        height: 70px !important;
    }

    .top-bar {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1440px;
        height: 70px;
        background: #B6F1F8 0% 0% no-repeat padding-box;
        opacity: 1;
        top: 0px;
        left: 0px;

    }

    .top-bar-sale {
        width: 257px;
        height: 24px;
        top: 23px !important;
        left: 385px !important;
        text-align: left;
        font: normal normal bold 18px/26px Noto Sans;
        letter-spacing: 0.9px;
        color: #212B6B;
        text-transform: uppercase;
        opacity: 1;
    }

    .top-bar-month {
   
        width: 279px;
        height: 36px;
        font-size: 1.564em;
        font: normal normal bold 24px/24px Noto Sans;
        top: 17px;
        left: 594px;
        text-align: left;
        letter-spacing: NaNpx;
        color: #212B6B;
        opacity: 1;
    }


   
    .top-bar-access{
        justify-content: center;
        align-items: center;
        display: flex;
        background: #212B6B 0% 0% no-repeat padding-box;
        border-radius: 3px!important;
        opacity: 1!important;
        text-align: center!important;
        font: normal normal 600 16px/22px Noto Sans;
        letter-spacing: 0.8px!important;
        color: #FFFFFF!important;
        opacity: 1!important;
        width: 160px;
        height: 40px;
        size: 16px;
    }
}
@media screen and (min-width: 360px) and (min-height: 140px) {
    .earth-header img{
        width: 360px;
        height: 140px;
    }
    .top-bar{
        text-align: center;
        flex-direction: column;
        display: flex;
       
    }
    .top-bar-sale{
        text-align: center;

    }
    .top-bar-month{
        text-align: center;
    }
    .top-bar-access{
        text-align: center;
    }
}
    /* .top-bar {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 140px;
        background: #B6F1F8 0% 0% no-repeat padding-box;
        opacity: 1;
        top: 0px;
        left: 0px;

    }
    .top-bar-sale {
        width: 249px;
        height: 22px;
        top: 23px !important;
        left: 385px !important;
        text-align: left;
        font: normal normal bold 16px/22px Noto Sans;
        letter-spacing: 0.8px;
        color: #212B6B;
        text-transform: uppercase;
        opacity: 1;
    }
    .top-bar-month {
   
        width: 249px;
        height: 33px;
        font-size: 1.564em;
        font: normal normal bold 24px/24px Noto Sans;

        top: 40px;
        left: 60px;
        text-align: left;
        letter-spacing: 0px;
        color: #212B6B;
        opacity: 1;
    }


    .top-bar-access {
        justify-content: center;
        align-items: center;
        background: #212B6B 0% 0% no-repeat padding-box;
        color: #FFFFFF;
        display: flex;
        width: 180px;
        height: 40px;
        size: 16px;


} */

/* .rectangle {
    height: 75px;
    width: 75px;
    /* color: white; */
/* display: flex; */
/* background-color: rgb(77, 77, 77); */
/* border-radius: 7px; */
/* justify-content: center;
    align-items: center; */
/* } */
*/
/* color:white;
    background:#262629;
    text-decoration:none;
    font-size:18px;
    font-weight:600px;
    letter-spacing:0.9px;
    padding: 12px 30px;
    border-radius:2px;
    margin-bottom:10px; */



/* .holiday_modal{
    margin:auto;
    width:600px;
    height:600px;
    display:flex;
    flex-direction:row;
    background:#b6f1f8;
    box-sizing: border-box;
    position:relative;
    z-index:2;
    color:#262629;
    top: calc(50vh - 300px);
}

.holiday_close_window{
    line-height:30px;
    color:#707070;
    display:flex;
    margin:0 auto;
    margin-left:auto;
    font-size:64px;
    position: absolute;
    right: 14.93px;
    top: 16.32px;
    font-weight:100;
    font-family:'Noto Sans', 'Sans Serif';
    overflow:hidden;
    cursor:pointer;
}

.holiday_modal_text{
    width:450px;
    margin: auto;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    height:485px;
}

.holiday_logo{
    height:34px;
    width:207px;
    margin-bottom:43px;
    margin-top:2px;
}

.holiday_sale{
    font-size:24px;
    line-height:33px;
    padding:0px 12px;
    background:white;
    letter-spacing: 0.48px;
    font-weight:bold;
    border:1px solid black;
}

.holiday_price{
    margin-top:-35px;
    margin-bottom:-46px;
}

.holiday_number{
    font-size:140px;
    line-height:212px;
    letter-spacing: -2.8px;
    font-weight:bold;
}

.holiday_cent{
    font-size:70px;
    margin-left:-34px;
    font-weight:bold;
    position:relative;
    bottom:40px;
}

.holiday_week{
    font-weight:bold;
    font-size:30px;
    letter-spacing: -0.6px;
    margin-bottom:21px;
}

.holiday_unlimited{
    font-size:18px;
    line-height:30px;
    margin-bottom:29px;
    letter-spacing: -0.18px;
    line-height:28px;
    width:440px;
    font-weight:bold;
}

.holiday_subscribe{
    color:white;
    background:#262629;
    text-decoration:none;
    font-size:18px;
    font-weight:600px;
    letter-spacing:0.9px;
    padding: 12px 30px;
    border-radius:2px;
    margin-bottom:10px;
}

.holiday_subscribe:hover{
    text-decoration:none;
    color:white;
}

.holiday_cancel{
    color:#262629;
    font-size:14px;
    text-decoration:none;
    font-weight:bold;
    letter-spacing: -0.01px;
}

.holiday_cancel:hover{
    text-decoration:none;
    color:#262629;
}

#holiday_overlay{
    position: fixed;
    display: none; /* Hidden by default */
/* width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
} */

/* @media screen and (max-width: 600px) {
    
    .holiday_close_window{
        right: 5.93px;
        top: 6.32px;
    }

    #holiday_popup{
        width:100vw;
    }

    .holiday_modal{
        width:300px;
        height:500px;
    }

    .holiday_modal_text{
        width:264px;
        height:424px;
    }

    .holiday_logo{
        height:20px;
        width:120px;
        margin-bottom:26px;
    }

    .holiday_number{
        line-height:180px;
        font-size:120px;
        letter-spacing: -2.4px;
    }

    .holiday_price{
        margin-top:-32px;
        margin-bottom:-37px;
    }

    .holiday_cent{
        font-size:60px;
        bottom:35px;
        margin-left:-28px;
    }

    .holiday_sale{
        font-size:20px;
        line-height:29px;
        padding:0px 8px;
        letter-spacing: 0.4px;
    }

    .holiday_week{
        font-size:22px;
        letter-spacing: -0.44px;
    }
    
    .holiday_unlimited{
        font-size:16px;
        line-height:26px;
        width:264px;
        margin-bottom:28px;
        width:233px;
        letter-spacing: -0.16px;
    }

    .holiday_subscribe{
        font-size:14px;
        padding-left:40px;
        padding-right:40px;
        letter-spacing:0.7px;
        padding:10px 26px;
        padding-bottom:11px;
        margin-bottom:8px;
        line-height:19px;
    }

    .holiday_modal_text > a:hover{
        text-decoration:none;
    }

    .holiday_cancel{
        font-size:12px;
    }
} */


/* @media screen and (max-width: 300px) {
    .holiday_modal{
        width:280px;
        height:500px;
    }
} */